

body{
    margin: 0px,0px,0px,0px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    
}
.shadow_1:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.5s
}
main{
    padding: 16px;
    font-family: 'Cormorant', serif;
}
footer{
    padding-bottom: 24px,0px,24px,0px;
    border-top: 1px rgb(245, 197, 115);
    border-bottom: rgb(245, 197, 115);
    padding: 16px;
    background-color:rgb(245, 197, 115);

}

img{
    height: 200px;
    
}

nav {
    border-bottom: rgb(245, 197, 115);
    padding: 16px;
    background-color: rgb(245, 197, 115);
}

a:hover {
    color: rgb(226, 153, 28)
}

a {
    color: rgb(76, 136, 80);
    text-decoration:none; 
} 

tr:nth-child(even) {
    background-color: rgb(240, 235, 206);
  }

h1{
    color: rgb(76, 136, 80);
    text-shadow: 1px 1px 2px black
}

h2{
color: rgb(216, 138, 3) 
}
.recipes{ 
    font-weight: bold
}
